{{> navbar}}
<div class="container mt-3">
  <div class="d-flex align-items-center gap-3">
    <img
      class="img-thumbnail"
      src="/img/patito.jpg"
      alt="Duck"
      width="250"
    >
    <div>
      <h2>Mi nombre es Duck</h2>
      <p>
        Desarrollador novato con muchas ganas de aprender cada dia para poder solucionar problemas habituales.
      </p>
    </div>
  </div>
  {{> backhome}}
</div>